# Node modules
node_modules/

# Environment variables
.env

# Logs
*.log
logs/
npm-debug.log*

# OS & IDE files
.DS_Store
.vscode/
.idea/

# Docker artifacts
*.pid
*.tar
*.lock

# Redis and Mongo data
dump.rdb
*.aof
*.bak

# k6 / load test results
load-test/results/
*.json
*.txt

# Build artifacts
dist/
coverage/
